.home {
  width: 95vw;
  margin: auto;
  font-family: proxima-soft, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  width: 75%;
  margin: auto;
}

.hero-text {
  font-family: proxima-soft, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
}

.left-side {
  padding: 60px;
}

.left-side > p {
  font-family: proxima-soft, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 30px;
}

.icons {
  padding-top: 100px;
  width: 80%;
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-columns: 33% 33% 33%;
}

.features {
  width: 75%;
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

ul {
  padding-top: 1em;
  text-align: left;
  padding-left: 0px;
}

li {
  list-style: none;
  background-size: 90%;
  background-position: center;
  transition: background-size 0.3s;
  -webkit-transition: background-size 0.3s;
  line-height: 2;
  padding-bottom: 30px;
}

.packages {
  display: grid;
  width: 70%;
  margin: auto;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}

.disclaimer {
  width: 50%;
  padding-top: 30px;
  margin: auto;
}

.text-section {
  text-align: center;
  padding: 100px;
}

.package-img {
  display: grid;
  justify-items: center;
  align-items: center;
}

.package-one {
  position: relative;
  width: 85%;
  margin: auto;
  background: #ffffff;
  border: 2px solid #dddddd;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
}

.package-container {
  margin: 20px;
}

.package-two {
  margin: auto;
  position: relative;
  width: 85%;
  height: 600px;
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}
.package-three {
  margin: auto;
  position: relative;
  width: 85%;
  height: 600px;
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}

.features-list {
  width: 100%;
  padding-left: 30px;
}

.package-title {
  font-weight: bold;
  text-align: center;
}

.price {
  position: absolute;

  font-weight: 400;
  font-size: 32px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 65%;
}

.spacer {
  height: 100px;
}

.select-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
}

.backed-by {
  text-align: center;
  padding: 100px;
}

.backed-title {
  padding-bottom: 10px;
}

.backed-title > p {
  padding-bottom: 20px;
}

.testimonials {
  text-align: center;
  padding: 100px;
}

.testimonials-grid {
  width: 75%;
  height: 200px;
  padding: 10px;
  justify-items: center;
  margin: auto;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.test-item {
  width: 85%;
  display: flex;
  height: 125px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 2px solid #dddddd;

  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
}

.subscribe {
  width: 100vw;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  margin: 0;

  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.subscribe-text {
  padding-left: 50px;
}

.faq > h4 {
  text-align: center;
}

.faq {
  font-family: proxima-soft, sans-serif;
  font-style: normal;
  font-weight: bold;
  padding: 30px;

  height: 100%;
}

.questions {
  font-family: proxima-soft, sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 30px;
  height: 100%;
  padding-bottom: 100px;
}

sign-up {
  display: flex;
  flex-direction: row;
}
