.header {
  display: flex;
  justify-content: space-between;
}

.links {
  width: 50%;
  display: flex;
  margin: auto;
  text-align: left;
  justify-content: space-between;

  color: black;
  font-family: proxima-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.links > button {
  border-style: none;
  background-color: #fff;

  display: inline-block;
  position: relative;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-family: proxima-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.links > button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.links > button:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dc3545;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  font-family: proxima-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.title {
  padding-left: 10%;
}
