html,
body {
  height: 100%;
}

.App {
  text-align: center;
}

.icon {
  text-align: center;
  padding: "10px";
}

.icon a:hover {
  background-color: black;
}

.websites {
  text-align: center;
  margin: "auto";
}
